<%- include('../admin/header') %>
<%- include('../admin/aside') %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-body">
          <div class="jumbotron">
            <div class="container">
                <h1>Hello, Admin!</h1>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            </div>
          </div>
          
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

  <%- include('../admin/footer') %>

