<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- Mirrored from htmldemo.net/rozer/rozer/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Aug 2024 05:36:51 GMT -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Rozer – Electronics eCommerce HTML Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.png" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&amp;display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
  <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
  <link rel="stylesheet" href="assets/css/style.min.css">

  <!-- Main Style CSS -->
  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
</head>

<body>
  <!-- Header Section Start From Here -->
  <header class="header-wrapper">
    <!-- Header Nav Start -->
    <div class="header-nav d-xl-none">
      <div class="container">
        <div class="header-nav-wrapper d-md-flex d-sm-flex d-xl-flex d-lg-flex justify-content-between">
          <div class="header-static-nav">
            <p>Welcome you to Rozer Store!</p>
          </div>
          <div class="header-menu-nav">
            <ul class="menu-nav">
              <li>
                <div class="dropdown">
                  <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setting <i class="ion-ios-arrow-down"></i></button>

                  <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton">
                    <li><a href="my-account.html">My account</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="login.html">Sign in</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button type="button" id="dropdownMenuButton-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD $ <i class="ion-ios-arrow-down"></i></button>

                  <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-2">
                    <li><a href="#">EUR €</a></li>
                    <li><a href="#">USD $</a></li>
                  </ul>
                </div>
              </li>
              <li class="pr-0">
                <div class="dropdown">
                  <button type="button" id="dropdownMenuButton-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/flag/1.jpg" alt="" /> English <i class="ion-ios-arrow-down"></i>
                  </button>

                  <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-3">
                    <li>
                      <a href="#"><img src="assets/images/flag/1.jpg" alt="" /> English</a>
                    </li>
                    <li>
                      <a href="#"><img src="assets/images/flag/2.jpg" alt="" /> Français</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Nav End -->
    <div class="header-top header-top-2 bg-blue ptb-30px d-xl-block d-none">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="logo">
              <a href="index.html"><img class="img-responsive" src="assets/images/logo/logo.jpg" alt="logo.jpg" /></a>
            </div>
          </div>
          <div class="col-md-10 align-self-center">
            <div class="header-right-element d-flex">
              <div class="search-element media-body mr-120px">
                <form class="d-flex" action="" method="get">
                  <div class="search-category">
                    <select>
                      <option value="0">All categories</option>

                    </select>
                  </div>
                  <input name="key" placeholder="Enter your search key ... " />
                  <button><i class="icon-magnifier"></i></button>
                </form>
              </div>
              <!--Cart info Start -->
              <div class="header-tools tools-style-2 d-flex">
                <div class="dropdown align-self-center">
                  <button class="color-white" type="button" id="dropdownMenuButton-4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i></button>

                  <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-4">
                    <li><a href="/home-logout">Logout</a></li>
                    <li><a href="/home-login">Login</a></li>
                  </ul>
                </div>
                <div class="cart-info d-flex align-self-center">
                  <a href="compare.html" class="shuffle" data-number="3"><i class="icon-shuffle"></i></a>
                  <a href="#offcanvas-wishlist" class="heart offcanvas-toggle" data-number="3"><i class="icon-heart"></i></a>
                  <a href="#offcanvas-cart" class="bag offcanvas-toggle" data-number="3"><i class="icon-bag"></i><span>$20.00</span></a>
                </div>
              </div>
            </div>
            <!--Cart info End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Header Nav End -->
    <div class="header-menu header-menu-3 bg-white sticky-nav d-xl-block d-none padding-0px">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 custom-col-2">
            <div class="header-menu-vertical">
              <h4 class="menu-title">All Cattegories</h4>
              <ul class="menu-content display-none">
                <li class="menu-item"><a href="#">ddd</a></li>
                <li class="menu-item"><a href="#">ddd</a></li>
                <li class="menu-item"><a href="#">ddd</a></li>
              </ul>
              <!-- menu content -->
            </div>
            <!-- header menu vertical -->
          </div>
          <div class="col-lg-9 custom-col-2">
            <div class="header-horizontal-menu">
              <ul class="menu-content">
                <li class="active menu-dropdown">
                  <a href="#">Home <i class="ion-ios-arrow-down"></i></a>
                  <ul class="main-sub-menu">
                    <li><a href="/home">Home 1</a></li>
                    <li><a href="/home">Home 2</a></li>
                    <li><a href="/home">Home 3</a></li>
                  </ul>
                </li>
                <li class="menu-dropdown">
                  <a href="#">Pages <i class="ion-ios-arrow-down"></i></a>
                  <ul class="main-sub-menu">
                    <li><a href="/about">About Page</a></li>
                    <li><a href="/home-login">Login & Register Page</a></li>
                  </ul>
                </li>
                <li><a href="/contact">contact Us</a></li>
              </ul>
            </div>
            <!-- header horizontal menu -->
            <div class="intro-text-shipping text-end">
              <div class="header-menu-style-2">
                <ul class="menu-nav">
                  <li>
                    <div class="dropdown">
                      <button type="button" id="dropdownMenuButton-5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD $ <i class="ion-ios-arrow-down"></i></button>

                      <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-5">
                        <li><a href="#">EUR €</a></li>
                        <li><a href="#">USD $</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="pr-0">
                    <div class="dropdown">
                      <button type="button" id="dropdownMenuButton-6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/flag/1.jpg" alt="" /> English <i class="ion-ios-arrow-down"></i>
                      </button>

                      <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-6">
                        <li>
                          <a href="#"><img src="assets/images/flag/1.jpg" alt="" /> English</a>
                        </li>
                        <li>
                          <a href="#"><img src="assets/images/flag/2.jpg" alt="" /> Français</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- header menu -->
  </header>